body {
	background: #f9f9fb;
}

.logo {
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-size: 25px;
	font-family: 'Rubik', system-ui, sans-serif;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.9);
	color: #555;
	padding: 4px 8px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	text-decoration: none;
	z-index: 100;
}

.logo:hover {
  background: #e0f7fa;
  color: #222;
}

.guide.hidden {
	display:none;
}

.toplogo {
	width: 100%;
	font-size: 40px;
	padding: 10px;
	text-align: center;
}

.slogan {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

.header {
	background: white;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.select_caption {
	width: 180px;
	float: left;
}

#complete_initialization {
	margin: 10px;
	padding: 5px;
}

.button_container {
	text-align: right;
}

#tournament {
	margin-left: auto;
	margin-right: auto;
}