.kuppy {
	position: relative;
}

.kuppy .box {

	text-align: center;
	vertical-align: middle;

	border: 2px solid #222;
	border-radius: 0;

	background: #fafafa;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	
	height: 30px;
	
	z-index: 2;
	
	position: absolute;
		
	line-height: 30px;
	font-size: 17px;
	
	cursor: pointer;
}

.kuppy .box.winner {
	background: linear-gradient(to right, #fff4aa, #ffe600);
	border: 2px solid #d4af37;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.kuppy .box.knocked-out input {
	color: #95a5a6;
}

.kuppy .box:hover {
	background: #e0f7fa;
}


.kuppy.incomplete div[round="1"] {
	background: #e74c3c;
	cursor: text;
}

.kuppy.incomplete div[round="1"] input {
	color: white;
}

.kuppy .box input {
	background: transparent;
    border: none;
	height: 90%;
	width: 90%;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size:15px;
	color: #222;
}

.kuppy .connector {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 2px solid #222;
	border-right: 2px solid #222;
	border-bottom: 2px solid #222;
	position: absolute;
	z-index: -1;
}

.kuppy .single-line-connector {
	border-top: 2px solid #222;
	border-right: 0;
	border-bottom: 0;
}