.kuppy {
	position: relative;
}

.kuppy .box {

	text-align: center;
	vertical-align: middle;

	border: 2px solid #bbb;
	border-radius: 0;

	background: #ffffff;
	
	height: 30px;
	
	z-index: 2;
	
	position: absolute;
		
	line-height: 30px;
	font-size: 17px;
	
	cursor: pointer;
}

.kuppy .box.knocked-out input {
	color: #95a5a6;
}

.kuppy .box:hover {
	background: #e0f7fa;
}


.kuppy.incomplete div[round="1"] {
	background: #e74c3c;
	cursor: text;
}

.kuppy.incomplete div[round="1"] input {
	color: white;
}

.kuppy input {
	background: transparent;
    border: none;
	height: 90%;
	width: 90%;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-size:15px;
	color: #222;
}

.kuppy .stage {
	margin-top: 30px;
	margin-bottom: 30px;
}

.kuppy .connector {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	position: absolute;
	z-index: -1;
}

.kuppy .single-line-connector {
	border-top: 2px solid #ddd;
	border-right: 0;
	border-bottom: 0;
}